html {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

/* Aplica el fondo solo en la página de inicio (index.html) */
body.inicio {
    background-image: url('../img/wallpapers/bodegon-libros-versus-tecnologia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


:root {
    --font-family-primary: 'Lato', sans-serif;
    --font-family-secondary: 'Signika Negative', sans-serif;
    --font-family-secondary-2: 'Sarala', sans-serif;
        
    --text-color: #5e5c5d;
    --bg-color: #ccc9c9;
    --second-bg-color: #fcfcfc;
    --main-color: #95056c;

    --color-1: #13e2e2;
    --color-2: rgb(126, 243, 247);
    --color-3: #7af2f2;
    --color-4: #e299cd;
}

.neon-text-1 {
    color: var(--color-1);
    text-shadow: 0 0 10px rgba(22, 167, 172, 0.8), 0 0 20px rgba(22, 167, 172, 0.8), 0 0 30px rgba(22, 167, 172, 0.8);
}

.neon-text-2 {
    color: var(--color-2);
    text-shadow: 0 0 10px rgba(149, 5, 108, 0.8), 0 0 20px rgba(149, 5, 108, 0.8), 0 0 30px rgba(149, 5, 108, 0.8);
}


body{
    font-family: var(--font-family-primary);
    font-size: 62.5%;
}

nav {
    background: var(--bg-color);
}

ul.nav-list {
    list-style-type: none; /* Quita los puntos de lista */
    display: flex; /* Utiliza flexbox para organizar los elementos todos en linea*/
    justify-content: space-between; /* Distribuye espacio entre los elementos */
}
ul.nav-list li {
    display: inline; /* Muestra los elementos en línea horizontalmente */
    margin-right: 10px; /* Añade margen derecho para separar los elementos */
}

ul.nav-list a {
    color: var(--text-color);
    font-size: 2.5em;
    font-weight: 800;
    text-transform: capitalize;
    text-decoration-line: none;
}

ul.nav-list a:hover, ul.icons a:hover {
    background-color: var(--color-2);
}

ul.icons li {
    display: inline; /* Muestra los elementos en línea horizontalmente */
    margin: 20px 10px 10px 1000px;
}

ul.icons a {
    font-size: 3.5em;
    color: var(--main-color);

}

ul.icons h2 {
    font-size: 1.5em;
    color: var(--color-1);
    margin: 20px 10px 40px 1000px;
}

.tittle h1 {
    font-family: var(--font-family-secondary-2);
    font-size: 5em;
    text-align: right;
    letter-spacing: +4px;
    white-space: pre-line;
    margin: 20px 10px 40px 550px;
}

.font-1 {
    font-weight: 100;
}

.font-2{
    font-weight: 900;
    font-style: italic;
}
.font-3 {
    font-weight: 300;
    font-size: 0.8em;
}

.tittle p{
    font-family: var(--font-family-secondary);
    font-size: 2.5em;
    text-align: right;
    color: var(--bg-color);
    margin: 20px 10px 40px 600px;
    
}


/* footer */
footer {
    font-family: var(--font-family-secondary-2);
    font-size: 1.5em;
}

footer p{
    color: var(--text-color);
    font-family: var(--font-family-primary);
    font-size: 1.1em;
}

ul.icons-footer {  
    list-style-type: none; 
    justify-content: space-between; 
}

ul.icons-footer a {
    font-size: 2em;
    color: var(--text-color);
}


ul.icons-footer li {
    display: inline; /* Muestra los elementos en línea horizontalmente */
    margin-right: 10px; /* Añade margen derecho para separar los elementos */
}

ul.icons-footer a:hover {
    background-color: var(--color-2);
}


/* html about me */
nav.nav-about-me {
    background-color: var(--second-bg-color);
}

div.about-me h1, div.about-me p{
    color: var(--text-color);
}


body.about-me{
    background-color: var(--bg-color);
}

.me img {
    border: 5px solid var(--text-color);
}

div.about-me p {
    border: 4px solid var(--text-color);
    padding: 40px;
    margin: 50px;
}



/* proyects */
div.proyects h1, div.proyects p{
    color: var(--text-color);
}


/* html contact */
div.contact h1{
    font-family: var(--font-family-secondary-2);
    font-size: 5em;
    letter-spacing: +4px;
    white-space: pre-line;
    color:var(--text-color);

}

div.fieldset fieldset {
    font-family: var(--font-family-primary);
    font-size: 0.5em;
    background-color:var(--bg-color);

    
}
div.fieldset p{
    color: var(--text-color);
    font-size: 4em
}
div.fieldset h2 {
    color: var(--text-color);
    font-size: 2em;
}


div.fieldset fieldset button {
    background-color: var(--bg-color);
}

address{
    font-size: 2.8em;
    color: var(--text-color);
    letter-spacing: +3px;
    font-weight: 700;
}