font-family: 'Signika Negative', sans-serif;
font-family: 'Just Another Hand', cursive;
font-family: 'Sarala', sans-serif;

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --text-color: #090002;
    --bg-color: #4C4B4B;
    --second-bg-color: #D9D8D8;
    --main-color: #2ca3be;
  
    --color-1: #6D6C6C;
    --color-2: #8F8E8E;
    --color-3: #B4B2B2;
  }
  

body, footer {
    font-family: 'Sarala', sans-serif;
    font-size: 62.5%;
    background-color: var(--second-bg-color);
}

nav {
    background: var(--bg-color);

}

footer{
    font-size: 1em;
    background-color: var(--color-3);
}

ul.nav-list {
    list-style-type: none; /* Quita los puntos de lista */
    display: flex; /* Utiliza flexbox para organizar los elementos todos en linea*/
    justify-content: space-between; /* Distribuye espacio entre los elementos */
}

li {
    display: inline; /* Muestra los elementos en línea horizontalmente */
    margin-right: 10px; /* Añade margen derecho para separar los elementos */
}



ul.nav-list a {
    color: var(--second-bg-color);
    font-size: 2.5em;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration-line: none;

}

ul.nav-list a:hover, div.icons a:hover{
    background-color: var(--main-color);
}

.logo a{
    font-weight: 700;
}


.tittle h1{
    font-family: 'Signika Negative', sans-serif;
    font-size: 3em;
    white-space: pre-line;
    color:var(--main-color)
}

.tittle p{
    font-family: 'Just Another Hand', cursive;
    font-size: 2.5em;
    color:var(--bg-color);
    letter-spacing: +2px;
}

div.icons a{
    font-size: 2em;
    color: var(--main-color);
}

.icons h2{
    font-size: 1.5em;
    color:var(--color-1)
}

/* html about me */

.about-me h1{
    font-family: 'Just Another Hand', cursive;
    font-size: 6em;
    letter-spacing: +5px;
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    color:var(--main-color);
}

.about-me p{
    font-size: 2em;
    color:var(--text-color)
}



/* html contact */

.contact h1{
    font-family: 'Just Another Hand', cursive;
    font-size: 6em;
    letter-spacing: +5px;
   
    color:var(--bg-color);
}

.fieldset fieldset{
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.8em;
    background-color: var(--color-3);

}

.fieldset fieldset legend{
    color: var(--bg-color);
    font-size: 1.2em;
}

.fieldset fieldset button{
    background-color: var(--main-color);
}
