$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fonts
$primary-font: 'Bebas Neue', sans-serif;
$content_font: 'Montserrat', sans-serif;


//Colors
$bg: #fff;
$bg-secondary: #f8f8f8;
$bg-third: #f3f3f3;
$bg-darker: #f8f8f8;
$text-color: #333;
$text-secondary: #4e4e4e;
$text-third: #555;
$text-bold: #000;
$text-light: #79776d;
$text-link: #005fee;
$text-link-hover: #0050c7;
$text-link-bg: RGBA(255, 234, 243, 0);
$text-link-bg-hover: RGBA(0, 205, 238, 0.18);
$lighter-gray: #eee;
$light-gray: #ddd;
$medium-light-gray: #ccc;
$slim-border: #eee;
$toc-bg: #f8f3f3;
$toc-text: #c5bc06;
$toc-link: #5b2e00;
$toc-number: #f0c029;
$new-gradient: linear-gradient(to bottom right, #a2a2a2, #cfcecc);
$loading: linear-gradient(to right, var(--lighter-gray) 8%, var(--light-gray) 18%, var(--lighter-gray) 33%);


//animaciones
$duration: 2s;
$timing-function: ease-in-out;










