.find-me {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;
    gap: 5px;
    position: relative;


    &__social-networks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80px;

            &.linkedin {
                position: relative;
                top: -40px;
            }

            &.github {
                position: relative;
                top: -70px;
            }

            &.instagram {
                position: relative;
                top: -90px;
            }

    }

    &__social-networks-img {
        width: 35px;
        padding-bottom: 5px;
        filter: invert(30%);
    }

    &__social-networks-link {
        text-decoration-line: none;
        font-size: 0.8rem;
        color: $bg-darker;
    }
}